<html>
<head>
    <title>{{ title }}</title>
</head>
    <body>
        <p>{{ message }}</p>
        <form method="post">
        Username:<input type="text" name="name" value=""/><br/><br/>
        Password:<input type="text" name="password" value=""/><br/><br/>
        <input type="submit" name="Submit" value="Submit"/>
        </form>
    </body>
</html>